<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="server" value="cincdb3"/>
    <add key="database" value="prmg"/>
    <add key="remotepath" value="/Returns"/>
    <add key="host" value="sftp.cwbk.com"/>
    <add key="port" value="22"/>
    <add key="uid" value="cinc"/>
    <add key="pwd" value=""/>
    <add key="privatekey" value="C:\utilities\backup\TestSFTP\cincprivate.ppk"/>
    <add key="hostfingerprint" value="37:7b:50:fa:fa:a9:6b:df:4e:04:2b:0b:7d:56:52:41"/>
    <add key="returnpath66" value="C:\sftp\Citywide\For Accounting Integrators\Check Images\"/>
    <add key="returnpathTest" value="C:\Users\James Leveille\Desktop\CitywideReturns\"/>
  </appSettings>
</configuration>