@model Knockout_Fundamentals.ViewModels.CustomerViewModel
@using System.Globalization
@using System.Text
@using System.Activities.Expressions
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "View Model Details";
}
@{ 
    string data = new JavaScriptSerializer().Serialize(Model);
}
@section scripts
{
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/customerViewModel.js"></script>
    <script type="text/javascript">
        var customerViewModel = new CustomerViewModel(@Html.Raw(data));
        debugger;
        ko.applyBindings(customerViewModel);
    </script>
}
<h2>Details</h2>

<div>
    <h2>@ViewBag.Title</h2>
    <p data-bind="text: MessageToClient"></p>
    <div>
        <label>Customer Name:</label>
        <span data-bind="text: Name"></span>
    </div>    
    <div>
        <label>Customer Age:</label>
        <span data-bind="text: Age"></span>
    </div>
    <div>
        <label>Customer's Comment:</label>
        <span data-bind="text: Comments"></span>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
